@import "tailwindcss";
@import '@fontsource-variable/kode-mono';
@import '@fontsource/geist-sans';
@import '@fontsource/geist-sans/100.css';
@import '@fontsource/geist-sans/200.css';
@import '@fontsource/geist-sans/300.css';
@import '@fontsource/geist-sans/400.css';
@import '@fontsource/geist-sans/500.css';
@import '@fontsource/geist-sans/600.css';
@import '@fontsource/geist-sans/700.css';
@import '@fontsource/geist-sans/800.css';
@import '@fontsource/geist-sans/900.css';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-kode: "Kode Mono Variable", monospace;
  --font-geist: "Geist Sans", sans-serif;
}

@layer utilities {
  .hoverButton {
    @apply transition-all duration-200 ease-in
  }

  .hoverText {
    @apply transition-all duration-75 ease-in
  }
}

:root {
  color-scheme: light dark;
}

html {
  scroll-behavior: smooth;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/backgrounds/backgroundLight.webp");
}

html.dark body {
  background-image: url("../images/backgrounds/backgroundDark.png");
}