---
import { Image } from "astro:assets";
import malsebasmal from "@images/malsebasmal.png" 
---

<div class="w-full flex flex-col items-center justify-center text-center gap-4">
  <Image src={malsebasmal} alt="My face Antonio Maldonado E." class="size-50 rounded-full" />
  <div class="w-full text-center font-kode">
    <h1 class="text-xl font-bold">
      Antonio Maldonado E.
    </h1>
    <h2 class="text-lg line-through font-bold">
      (@malsebasmal)
    </h2>
  </div>
</div>