---
import { Image } from "astro:assets";
import malsebasmal from "@images/malsebasmal.png" 
---

<div>
  <Image src={malsebasmal} alt="My face Antonio Maldonado E." />
  <div>
    <h1>
      Antonio Maldonado E.
    </h1>
    <h2>
      (@malsebasmal)
    </h2>
  </div>
</div>