---
import socialmedia from "@utils/socialmedia"
import ButtonLink from "@components/ButtonLink.astro"
---

<div class="w-full">
  <ul class="w-full flex flex-col items-center justify-center gap-2">
    {socialmedia.map((link) => (
      <li>
        <ButtonLink
          name={link.name}
          icon={link.icon}
          url={link.url}
          colors={link.colors}
        />
      </li>
    ))}
  </ul>
</div>