---
import HeroFace from "@components/HeroFace.astro"
import ListSocialsMedia from "@components/ListSocialsMedia.astro"
---

<main>
  <section>
    <HeroFace />
    <ListSocialsMedia />
  </section>
</main>