---
import Share from "@components/Share"
import ColorTheme from "@components/ColorTheme"
---

<header class="w-full px-8 mb-8">
  <nav>
    <ul>
      <li>
        <Share />
      </li>
      <li>
        <ul>
          <li>
          </li>
          <ColorTheme client:load />
        </ul>
      </li>
    </ul>
  </nav>
</header>
