---
import HeroFace from "@components/HeroFace.astro"
import ListSocialsMedia from "@components/ListSocialsMedia.astro"
---

<main class="w-full">
  <section class="w-full flex flex-col items-center justify-center">
    <HeroFace />
    <ListSocialsMedia />
  </section>
</main>